<!DOCTYPE html>
<html>

<head>
  <title>日志配置信息</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="./static/css/bootstrap.min.css">
  <link rel="stylesheet" href="./static/css/style.css">
  <script src="./static/js/jquery.min.js"></script>
  <script src="./static/js/popper.min.js"></script>
  <script src="./static/js/bootstrap.min.js"></script>
</head>

<body>

  <div class="container mt-3">
    <div class="h3">
      <img src="./static/img/icon.jpg" width="24">
      日志文件配置
    </div>
    <div class="tips">
      <p align="center">请根据当前部署环境进行日志文件上传地址配置（只支持MINIO）</p>
    </div>
    <form action="/savelogconfig" method="post">
      <div class="input-group mb-3">
        <div class="h4">MINIO服务端IP和端口</div>
        <input type="text" class="form-control" placeholder="请输入MINIO IP 地址和端口" id="minio_ip" name="minio_ip" value="{{minio_ip}}">
      </div>
      <div class="input-group mb-3">
        <div class="h4">MINIO服务端用户名</div>
        <input type="text" class="form-control" placeholder="MINIO服务端用户名" id="minio_username" name="minio_username" value="{{minio_username}}">
      </div>
       <div class="input-group mb-3">
        <div class="h4">MINIO服务端密码</div>
        <input type="password" class="form-control" placeholder="MINIO服务端密码" id="minio_password" name="minio_password" value="{{minio_password}}">
      </div>
      <div class="input-group mb-3">
        <div class="h4">MINIO服务端桶名称</div>
        <input type="text" class="form-control" placeholder="MINIO服务端桶名称" id="minio_dir" name="minio_dir" value="{{minio_dir}}">
      </div>
      <div class="input-group mb-3">
        <div class="h4">上传日志接口地址(暂时仅室内平台)</div>
        <input type="text" class="form-control" placeholder="平台上传日志接口" id="minio_dir" name="upload_log_url" value="{{upload_log_url}}">
      </div>

{#      <div class="input-group mb-3">#}
{#        <div class="h4">日志自定义后缀名</div>#}
{#        <input type="text" class="form-control" placeholder="日志自定义后缀名" id="minio_suffix" name="minio_suffix" value="{{minio_suffix}}">#}
{#      </div>#}

      <div style="text-align:center">
        <button type="submit" class="btn btn-primary">保存日志文件配置</button>
      </div>
    </form>
  </div>


</body>

</html>